[Unit]
Description=Start kiosk on wayland
After=weston.service
Requires=weston.service
Wants=graphical.target
After=graphical.target

[Service]
User=weston
Group=weston
Restart=on-failure
Type=forking
ExecStart=/usr/bin/wayland-launch-kiosk.sh
RestartSec=10

[Install]
WantedBy=graphical.target
